/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */


// Fix app with environment banner @TODO: rework app component
.au-c-app--environment {
  // Fix main container height
  .au-c-main-container {
    height: calc(100vh - 92px);
  }

  // Fix sidebar offset
  .au-c-meeting-sidebar {
    top: 14.8rem;
  }
}

/* Style publishing animation
 ========================================================================== */
 .au-c-scanner {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  pointer-events: none;
}
.au-c-scanner:after {
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
}
.au-c-scanner .au-c-loader {
  margin-left: auto;
  margin-right: auto;
}
.au-c-scanner .au-c-loader::before {
  height: 0.4rem !important;
}

.au-c-scanner__text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 9.6rem;
  text-align: center;
  z-index: 10;
}

.au-c-scanner__bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #FEE539;
  z-index: 1;
  animation: move 3s cubic-bezier(0.15, 0.44, 0.76, 0.64);
  animation-iteration-count: infinite;
  border-right: 1rem #FEE539 solid;
  margin-top: 0;
}

@keyframes move {
  0% {
    width: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    width: 100%;
    background-color: rgba(254, 229, 57, 0.5);
  }
}

.say-editor-hints {
  .au-c-card {
    margin-top: 10px;

  }
  .au-c-card__content {
    overflow: inherit;
  }
}

.under-label-text {
  font-size: 13px;
  margin-bottom: 5px;
  color: var(--au-gray-500);
}

.snippets-pill-container {
  height: fit-content;
  margin-left: 10px;
}

.snippets-add-button-container {
  height: 50px;
}

.snippets-table .au-c-data-table__actions--bottom,
.snippet-list-template-table .au-c-data-table__actions--bottom, {
  display: none;
}


[property='eli:title']:before {
  content: 'Document-titel' !important;
}

[lang='en-US'] {
  [property='eli:title']:before {
    content: 'Document title' !important;
  }
}
