@import "@appuniversum/ember-appuniversum/styles";
@import '@lblod/ember-rdfa-editor';
@import 'date-plugin';
@import 'variable-plugin';
@import 'besluit-plugin';
@import 'generic-rdfa-variable';
@import 'snippet-plugin';
@import 'template-comments-plugin';
@import 'confidentiality-plugin';
@import 'location-plugin';
@import 'structure-plugin';
@import 'mandatee-table-plugin';
@import 'shame';
@import 'breadcrumbs';
@import '_c-app-chrome';



.yasgui .controlbar {
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

// App chrome tweaks
.au-c-app-chrome {
  border-bottom: .1rem solid var(--au-gray-300);
}

// TOC temp styling
div.table-of-contents {
  padding: $au-unit-small !important;
  margin-bottom: $au-unit-large;
  outline: .2rem dashed var(--au-gray-300);
  outline-offset: .2rem;

  h3 {
    margin-top: 0;
  }

  ul {
    margin-top: $au-unit-tiny;
    padding-left: 0;
  }

  ul ul {
    margin-left: 0;
  }

  ul li {
    list-style-type: none !important;
  }
}

[property="say:hasPart"] + [property="say:hasPart"] {
  margin-top: $au-unit !important;
}

[property="say:hasPart"] {
  [property="say:heading"] + [property="say:body"] {
    margin-top: $au-unit-tiny !important;
  }
}

[typeof="https://say.data.gift/ns/Title"] > [property="say:heading"] {
  @extend .au-c-heading--3;
}

[typeof="https://say.data.gift/ns/Chapter"] > [property="say:heading"] {
  @extend .au-c-heading--4;
}

[typeof="https://say.data.gift/ns/Section"] > [property="say:heading"] {
  @extend .au-c-heading--5;
}

[typeof="https://say.data.gift/ns/Subsection"] > [property="say:heading"] {
  @extend .au-c-heading--6;
}

.au-c-card__content {
  max-height: 500px;
  overflow: auto;
}

.codelist-order-header {
  width: 100px;
}

.codelist-type-select-option {
  margin: 20px;
}

.au-c-app .au-c-main-container__content {
  display: flex;
  flex-direction: column;
}


.search-form {
  border: 0.1rem solid var(--au-gray-300);
  border-radius: 0.3rem;
  color: var(--au-gray-1000);
  font-size: var(--au-h6);
  height: 3.6rem;
  display: flex;
  flex-direction: row;

  &:focus-within {
    outline: none;
    border-width: 0.1rem;
    border-color: var(--au-outline-color);
    box-shadow: inset 0 0 0 0.2rem var(--au-outline-color);
  }

  &__input {
    border: 0;
    flex-grow: 1;
    box-shadow: none;
    background-color: transparent;

    font-size: inherit;
    padding-left: 1.2rem;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &__submit {
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-left: 0.2rem;
    margin-right: 1.2rem;
    svg {
      width: 1.6rem;
      height: 100%;
    }
  }
}

tr.sortable-item {
  position: relative;
  transition: all 0.125s;
}

tr.sortable-item.is-dragging {
  transition-duration: 0s;
  z-index: 10;
}

.drag-icon-cell {
  cursor: move;
}
