{{page-title (t "codelist.crud.new")}}
<AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink @linkRoute="codelists-management">
          <AuIcon @icon="arrow-left" @alignment="left" />
          Overzicht
        </AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        {{t "codelist.crud.new"}}
      </li>
    </ul>
  </Group>
</AuToolbar>
<CodelistForm @codelist={{this.model.newCodelist}}/>