<AuMainContainer as |m|>
  <m.content @scroll={{true}}>
    <div class="au-o-region-large">
      <div class="au-o-layout">
        {{outlet}}
      </div>
    </div>
    <Footer/>
  </m.content>
</AuMainContainer>