<StaticPage>
  <div class="au-o-layout au-o-region-large">
    <AuHeading @skin="4" class="au-u-margin-bottom">{{t "auth.acmidm"}}</AuHeading>
    <AuLinkExternal href={{this.loginUrl}} @skin="button">{{ t "auth.login"}}</AuLinkExternal>
  </div>
</StaticPage>
